.Footer_footer {
    width: 100%;
    padding: 80px 0 0;
    background-color: #f4f4f4;
    font-family: Pretendard
}

@media screen and (max-width: 900px) {
    .Footer_footer {
        box-sizing:border-box;
        background-color: #f4f4f4;
        padding: 28px 20px 119px
    }
}

.Footer_container {
    width: 100%;
    max-width: 1189px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    box-sizing: border-box;
    position: relative
}

.Footer_container div p a {
    text-decoration: none;
    color: #000
}

@media screen and (max-width: 900px) {
    .Footer_container {
        width:100%;
        display: grid;
        margin: 0 auto;
        box-sizing: border-box;
        position: relative
    }

    .Footer_info {
        grid-column: 1
    }
}

.Footer_info__subject {
    font-size: 14px;
    font-weight: 700;
    line-height: 1.43;
    color: #666
}

@media screen and (max-width: 900px) {
    .Footer_info__subject {
        font-size:14px;
        font-weight: 700;
        line-height: 1.43
    }
}

.Footer_info__content {
    font-size: 14px;
    font-weight: 700;
    line-height: 1.43;
    color: #000;
    margin-top: 12px
}

@media screen and (max-width: 900px) {
    .Footer_sns {
        grid-column:2
    }
}

.Footer_sns__subject {
    font-size: 14px;
    font-weight: 700;
    line-height: 1.43;
    color: #666
}

.Footer_sns__content {
    font-size: 14px;
    font-weight: 700;
    line-height: 1.43;
    color: #000;
    margin-top: 12px
}

.Footer_company {
    margin-top: 0
}

@media screen and (max-width: 900px) {
    .Footer_company {
        grid-column:1/span 2;
        margin-top: 40px
    }
}

.Footer_company__title {
    font-size: 14px;
    font-weight: 700;
    line-height: 1.43;
    color: #666
}

.Footer_company__content {
    font-size: 12px;
    line-height: 1.5;
    color: #666;
    margin-top: 8px
}

.Footer_company__info {
    margin-top: 22px;
    color: #000;
    font-size: 12px;
    line-height: 1.5
}

@media screen and (max-width: 900px) {
    .Footer_company__info {
        margin-top:8px
    }
}

.Footer_kakaoLink__1y_id {
    color: #666!important;
    text-decoration: underline!important
}

.policy_container___Ljpp {
    margin: 14px auto 200px;
    padding-left: 20px;
    padding-right: 20px;
    font-family: Noto Sans KR
}

.policy_container___Ljpp h4 {
    margin-top: 30px
}

.policy_container___Ljpp p {
    line-height: 2
}

.policy_container___Ljpp header {
    height: 50px
}

.policy_container___Ljpp header .policy_menu__qDNwf {
    display: none
}

.policy_container___Ljpp .policy_title__At39F {
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: -.8px;
    text-align: center;
    color: #080606
}

.policy_container___Ljpp .policy_back-btn__FIANP {
    position: absolute;
    top: 14px;
    left: 20px;
    cursor: pointer
}